@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* style-scrollbars-css */
	::-webkit-scrollbar {
		width: 0rem;
		height: 0rem;
	}
}
@layer components {
	.button {
		@apply select-none;
		@apply rounded-lg p-2 shadow-lg outline-none;
		@apply text-lg font-semibold;
		@apply ringed;
		@apply scale-100;
	}
	.button:active {
		@apply scale-[0.98];
	}
	.button:disabled {
		pointer-events: none;
		@apply opacity-50;
	}

	.ringed {
		@apply bg-secondary text-background;
		@apply ring-2 ring-inset ring-secondary;
	}
}
